
beautifulsoup4==4.8.2

glob2==0.7
numpy==1.24.2

pandas==1.0.1

py==1.8.1

python-language-server==0.31.7

requests==2.31.0
requests-oauthlib==2.0.0

scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.13.1

textblob==0.17.1


